<section class="users">
  <div class="users-list">
    <div class="header-bar">
      <h4>Users</h4>
      <div class="search">
        <fa name="bars" class="i"></fa>
        <fa name="search" class="i" (click)="searchForm = !searchForm"></fa>
      </div>
      <div class="search-field" [ngClass]="{hide: !searchForm, show: searchForm}">
        <fa name="arrow-left" (click)="closeSearch()"></fa>
        <input type="text" name="" value="" placeholder="Search users">
        <fa name="times" (click)="closeSearch()"></fa>
      </div>
    </div><!-- header-bar -->
    <div class="scroll-bar">
      <ul>
        <li *ngFor="let user of users_list">
          <form #f="ngForm"  (ngSubmit)="onSubmitUserDetails(f.value)">
          <button class="box"   id="{{ user.id }}">
            <input type="hidden" name="userId" ngModel #userId="ngModel" [ngModel]="user.id">
            <div class="image">
              <img src="http://via.placeholder.com/40x40" />
            </div>
            <div class="user-info">
              <!-- vratiti obican tekst -->
              <b ><input type="text" name="name" [disabled]="true" ngModel #name="ngModel" [ngModel]="user.name"></b>

              <span ><input type="text" name="username" [disabled]="true" ngModel #name="ngModel" [ngModel]="user.username"></span>
              <span ><input type="text" name="email" [disabled]="true" ngModel #name="ngModel" [ngModel]="user.email"></span>
            </div>
          </button>
          </form>
        </li>
      </ul>
    </div>
  </div><!-- users-list -->
  <div class="users-elements">
    <div class="user-album">
      <div class="header">
        <h4>Albums <span>Drag and Drop to Photos section</span></h4>
        <div class="form-group">
          <input id="select-all" type="checkbox" name="" value="">
          <label for="select-all">Select all</label>
        </div>
      </div>
      <div class="empty-text">Select a user first</div>
      <div class="check-list">
        <ul>
          <li *ngFor="let album of album_list; let x = index">
            <form #check="ngForm" (ngSubmit)="onSubmitAlbum(check.value)">
            <button>
              <label for="{{ album.albumId }}">
                <input type="checkbox" name="albumId" ngModel #albumId="ngModel" [ngModel]="album.albunId" id="{{ album.albumId }}"/>
                {{ album.title }}
              </label>
                <span>{{ x }} Photos</span>
            </button>
            </form>
          </li>
        </ul>
      </div>
    </div><!-- user-album -->
    <div class="user-photos">
      <div class="header">
        <h4>0 Photos</h4>
        <div class="sort-photo">
          <fa name="align-left"></fa>
        </div>
      </div>
      <div class="photos-list">
        <ul>
          <li *ngFor="let photo of photos_list">
            <img src="{{ photo.url }}" />
          </li>
        </ul>
      </div>
    </div><!-- user-photos -->
  </div><!-- users-elements -->
</section>
