<section class="users">
  <div class="users-list">
    <div class="header-bar">
      <h4>Users</h4>
      <div class="search">
        <fa name="bars" class="i"></fa>
        <fa name="search" class="i" (click)="searchForm = !searchForm"></fa>
      </div>
      <div class="search-field" [ngClass]="{hide: !searchForm, show: searchForm}">
        <fa name="arrow-left" (click)="closeSearch()"></fa>
        <input [(ngModel)]="searchText" placeholder="Search users">
        <fa name="times" (click)="closeSearch()"></fa>
      </div>
    </div><!-- header-bar -->
    <div class="scroll-bar">
      <ul>
        <li *ngFor="let user of users_list | filter : searchText" (click)="getUserProfileId(user.id)">
          <div class="box"   id="{{ user.id }}" (click)="onSubmitUserDetails()">
            <div class="image">
              <img src="http://via.placeholder.com/40x40" />
            </div>
            <div class="user-info">
              <!-- vratiti obican tekst -->
              <b>{{ user.name }}</b>
              <span>{{user.username}}</span>
              <span>{{user.email}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div><!-- users-list -->
  <div class="users-elements">
    <div class="user-album">
      <div class="header">
        <h4>Albums <span>Drag and Drop to Photos section</span></h4>
        <div class="form-group">
          <input id="select-all" type="checkbox" name="" value="">
          <label for="select-all">Select all</label>
        </div>
      </div>
      <div class="empty-text">Select a user first</div>
      <div class="check-list">
        <ul>
          <li *ngFor="let album of album_list; let x = index" [hidden]="album.userId != userProfileId" (click)="getAlbumId(album.id)">
            <form  (click)="onSubmitAlbum()">
              <label for="{{ album.albumId }}">
                <input type="checkbox" name="albumId" id="{{ album.albumId }}"/>
                {{ album.title }}
              </label>
                <span>{{ x }} Photos</span>
            </form>
          </li>
        </ul>
      </div>
    </div><!-- user-album -->
    <div class="user-photos">
      <div class="header">
        <h4>Photos</h4>
        <div class="sort-photo">
          <fa name="align-left"></fa>
        </div>
      </div>
      <div class="photos-list">
        <ul>
          <li *ngFor="let photo of photos_list" [hidden]="photo.albumId != userAlbumId" >
            <img src="{{ photo.url }}" />
          </li>
        </ul>
      </div>
    </div><!-- user-photos -->
  </div><!-- users-elements -->
</section>
