//You can add global styles to this file, and also import other style files
@import '~font-awesome/css/font-awesome.min.css';

* {
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
